<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/map.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>
<body>

<!--Page Title-->
<div class="jumbotron">
    <div class="container text-center">
        <h1>DingDing's Calling Taxi: Call Centre</h1>
        <p2>Fast, Convenient & Easy</p2>
    </div>
</div>

<!-- Page Content -->
<div style="padding-left: 80px">
    <div>
        <h id="hour"></h>
        <script>
            var timestampnow;
            var text = "";
            var myDate = new Date();
            timestampnow = myDate.getHours();
            if (timestampnow < 12) {
                text = "Good morning! It's ";
            } else if (timestampnow < 18) {
                text = "Good afternoon! It's";
            } else {
                text = "Good night! It's";
            }
            document.getElementById("hour").innerHTML = text;
        </script>
        <h id="dateandtime"></h>
        <script type="text/javascript">
            Date.prototype.Format = function (fmt) {
                var o = {
                    "M+": this.getMonth() + 1, //月份
                    "d+": this.getDate(), //日
                    "h+": this.getHours(), //小时
                    "m+": this.getMinutes(), //分
                    "s+": this.getSeconds(), //秒
                    "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                    "S": this.getMilliseconds() //毫秒
                };
                if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
            };

            var time1 = new Date().Format("yyyy-MM-dd hh:mm:ss");

            document.getElementById("dateandtime").innerHTML = time1;
        </script>
        <h>now.</h>
    </div>
</div>

<!-- PAGE CORE -->
<!--MAP PART-->

<div class="container">
    <div class="row">
        <div class="col-lg-12" style="min-height:400px; padding: 20px">
            <hr>
            <div class="google-maps">
                    <div id="map"></div>
                </div>
        </div>
    </div>
    <!-- /.row -->
</div>

<!-- /.container -->
<script src="{{ url_for('static', filename='js/callcentremap.js') }}"></script>

<script>
    var mapId = "map";

    function initMap() {
        var map = new google.maps.Map(document.getElementById(mapId), {
            center: {lat: 22.2823571, lng: 114.13887319999999},
            zoom: 15
        });

        // traverse each driver's data & add marker with infowindow
        var tmp1 = {{ driverdata | safe }};

        var drivermakers = [];
        var callermakers = [];

        for (let i = 0; i < tmp1.length; i++) {
            //console.log(tmp[i]);
            let marker = new google.maps.Marker({
                map: map,
                position: {lat: tmp1[i]['location_lat'], lng: tmp1[i]['location_lng']},
                icon: {
                    url: "http://moziru.com/images/taxi-clipart-transparent-8.png",
                    scaledSize: new google.maps.Size(48, 48)
                }
            });

            // add info window
            let infowindow = new google.maps.InfoWindow();
            marker.addListener('click', function () {

                infowindow.close();
                infowindow.setContent(fillInfoWindowContentDriver(tmp1[i]));
                infowindow.open(map, marker);
            });

            drivermakers.push(marker);
        }

        var tmp2 = {{ callerdata | safe }};

        for (let i = 0; i < tmp2.length; i++) {
            //console.log(tmp2[i]);
            let marker = new google.maps.Marker({
                map: map,
                position: {lat: tmp2[i]['from_lat'], lng: tmp2[i]['from_lng']},
                icon: {
                    url: "https://cdn1.iconfinder.com/data/icons/traveling-8/432/taxi-512.png",
                    scaledSize: new google.maps.Size(48, 48)
                }
            });

            // add info window
            let infowindow = new google.maps.InfoWindow();
            marker.addListener('click', function () {

                infowindow.close();
                infowindow.setContent(fillInfoWindowContentCaller(tmp2[i]));
                infowindow.open(map, marker);
            });

            drivermakers.push(marker);
        }
    }

    function fillInfoWindowContentDriver(entry) {
        var status = "Available";
        if (entry.status == 2) status = "Hired";
        else if (entry.status == 3) status = "On-Call";

        var content = '<div id="infowindow-content">' +
            '<span id="driver-id" class="title">Driver ID: ' + entry.id + '</span><br>' +
            'Name: <span id="driver-name">' + entry.name + '</span><br>' +
            'Status: <span id="driver-status">' + status + '</span><br></div>';

        return content;
    }

    function fillInfoWindowContentCaller(entry) {

        var content = '<div id="infowindow-content">' +
            'Name: <span id="caller-name">' + entry.name + '</span><br>' +
            'Destination: <span id="caller-status">' + entry.destination + '</span><br></div>';

        return content;
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ2cAeiEseW9hyqSjuJnsgbKS5DLVPvOs&libraries=places&callback=initMap"
        async defer></script>


</body>
</html>