<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="{{ url_for('static', filename='css/map.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <!--Page Title-->
    <div class="jumbotron">
        <div class="container text-center">
            <h1>DingDing's Calling Taxi: Driver</h1>
            <p2>Fast, Convenient & Easy</p2>
        </div>
    </div>
    <!-- Page Content -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <h id="hour"></h>
            <script>
            var timestampnow;
            var text = "";
            var myDate = new Date();
            timestampnow = myDate.getHours();
            if (timestampnow < 12) {
                text = "Good morning! It's ";
            } else if (timestampnow < 18) {
                text = "Good afternoon! It's";
            } else {
                text = "Good night! It's";
            }
            document.getElementById("hour").innerHTML = text;
            </script>
            <h id="dateandtime"></h>
            <script type="text/javascript">
            Date.prototype.Format = function(fmt) {
                var o = {
                    "M+": this.getMonth() + 1, //月份
                    "d+": this.getDate(), //日
                    "h+": this.getHours(), //小时
                    "m+": this.getMinutes(), //分
                    "s+": this.getSeconds(), //秒
                    "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                    "S": this.getMilliseconds() //毫秒
                };
                if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
            };

            var time1 = new Date().Format("yyyy-MM-dd hh:mm:ss");

            document.getElementById("dateandtime").innerHTML = time1;
            </script>
            <h>now.</h>
        </div>
        <div class="col-md-3"></div>
    </div>
    <!--MAP PART-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8" style="padding: 20px">
                <hr>
                <div class="google-maps">
                    <div id="map"></div>
                </div>

            </div>
            <!-- Sidebar Column -->
            <div class="col-lg-4">
                <form id="form-driver-status" action="" method="post">
                    <div class="card my-4">
                        <div class="card-body">
                            <!--
                        <div class="form-group">
                            <label>Status</label>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    <span class="sr-only">45% Complete</span>
                                </div>
                            </div>
                        </div>
                        -->
                            <div class="form-group row">
                                <label class="col-sm-3 col-3 col-form-label text-uppercase font-weight-bold">
                                    Taxi ID
                                </label>
                                <div class="col-sm-9 col-9">
                                    <input type="text" name="driverid" readonly class="form-control" id="taxiid">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-uppercase font-weight-bold">Status</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" id="status_available" value="1" checked disabled> Available
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" id="status_on-call" value="3" disabled> On-Call
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" id="status_hired" value="2" disabled> Hired
                                    </label>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="text-uppercase font-weight-bold">Report Frequency</label>
                                <!--
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="reportfreq" id="report_10_secs" value="10 secs"> 10 secs
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="reportfreq" id="report_30_secs" value="30 secs"> 30 sec
                                    </label>
                                </div>
                                -->
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="reportfreq" id="report_1_min" value="5000" checked> 1 min
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="reportfreq" id="report_3_min" value="10000"> 3 mins
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-6 col-form-label text-uppercase font-weight-bold">
                                    Reporting
                                </label>
                                <input type="checkbox" id="is-reporting" class="col-6 col-sm-6" checked data-toggle="toggle">
                                <input type="hidden" id="driver-status" name="status" value="1">
                                <input type="hidden" id="driver-date" name="date">
                                <input type="hidden" id="driver-time" name="time">
                                <input type="hidden" id="driver-location_lat" name="location_lat">
                                <input type="hidden" id="driver-location_lng" name="location_lng">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-3 col-form-label">
                                    Lat
                                </label>
                                <div class="col-sm-9 col-9">
                                    <input type="text" readonly class="form-control" id="lat">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-3 col-form-label">
                                    Lng
                                </label>
                                <div class="col-sm-9 col-9">
                                    <input type="text" readonly class="form-control" id="lng">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 mb-3">
                                    <a href="#" id="btn-end-trip" class="btn btn-primary btn-block">END TRIP</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 mb-3">
                                    <a href="#" id="btn-pick-up" class="btn btn-primary btn-block">PICK UP</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->

    </div>

    <button type="button" class="btn btn-info btn-lg" id="feedback-alert" style="display: none" data-toggle="modal" data-target="#myModal"></button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                  <h4 id="modal-feedback-title" class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

              </div>
              <div class="modal-body">
                <p id="modal-feedback"></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>


    <!-- /.container -->
    <script src="{{ url_for('static', filename='js/driver.js') }}"></script>
    <script>
    var reportFreq = 20000; // default report frequency
    var reqortHandle;

    //geolocate();
    reportHandle = setInterval(geolocate, reportFreq);

    $("#report_1_min").click(function() {
        reportFreq = document.getElementById('report_1_min').value;
        clearInterval(reqortHandle);
        reqortHandle = setInterval(geolocate, reportFreq);
    });

    $("#report_3_min").click(function() {
        reportFreq = document.getElementById('report_3_min').value;
        clearInterval(reqortHandle);
        reqortHandle = setInterval(geolocate, reportFreq);
    });

    document.getElementById("taxiid").value = {{ driverid }};

    $('#is-reporting').change(function() {
        if ($(this).prop('checked')) {
            reqortHandle = setInterval(geolocate, reportFreq);
            console.log("restart reporting!");
        } else {
            // turn off reporting
            clearInterval(reportHandle);
            console.log("stop reporting!");
        }
    });

    document.getElementById("status_on-call").addEventListener("change", function() {
        $("#driver-status").value = 3;
    });

    document.getElementById("status_available").addEventListener("change", function() {
        $("#driver-status").value = 1;
    });

    document.getElementById("status_hired").addEventListener("change", function() {
        $("#driver-status").value = 2;
    });


    $("#btn-pick-up").hide();
    $("#btn-end-trip").hide();

    $("#btn-pick-up").click(function () {

        data = {
            "driverid" : {{ driverid }}
        };

        $.ajax({
            url: '/pickup', // form action url
            type: 'POST', // form submit method get/post
            dataType: 'json', // request type html/json/xml
            async:false,
            data: data, // serialize form data
            success: function(feedback) {
                console.log("Success send picked current customer up request to the server...");

                if (feedback.status == "INVALID_REQUEST") {
                    error_message = feedback.error;

                    $("#modal-feedback-title").html("Invalid Request");
                    $("#modal-feedback").html(error_message);
                    $("#myModal").modal("show");


                } else if (feedback.status == "OK") {
                    $("#modal-feedback-title").html("Congrats!");
                    $("#modal-feedback").html("Your are hired!");
                    $("#myModal").modal("show");

                    $("#btn-pick-up").hide();
                    $("#btn-end-trip").show();

                    // set driver's status in UI to hired
                    $('#status_hired').prop("checked", true);
                    $('#status_on-call').prop("checked", false);
                    $('#status_available').prop("checked", false);

                    // hide caller location after pick up
                    console.log("hide caller marker...");
                    callerMarker.setVisible(false);
                }
            },
            error: function(e) {
                $("#modal-feedback-title").html("Invalid Request");
                $("#modal-feedback").html(e);
                $("#myModal").modal("show");
            }
        });
    });


    $("#btn-end-trip").click(function () {

        data = {
            "driverid" : {{ driverid }}
        };

        $.ajax({
            url: '/endtrip', // form action url
            type: 'POST', // form submit method get/post
            dataType: 'json', // request type html/json/xml
            async:false,
            data: data, // serialize form data
            success: function(feedback) {
                console.log("Success send end current trip request to the server...");

                if (feedback.status == "INVALID_REQUEST") {
                    error_message = feedback.error;

                    $("#modal-feedback-title").html("Invalid Request");
                    $("#modal-feedback").html(error_message);
                    $("#myModal").modal("show");

                } else if (feedback.status == "OK") {
                    $("#modal-feedback-title").html("Congrats!");
                    $("#modal-feedback").html("Your trip has been ended!");
                    $("#myModal").modal("show");


                    // hide the button
                    $("#btn-pick-up").hide();
                    $("#btn-end-trip").hide();

                    // set driver's status in UI to available
                    $('#status_available').prop("checked", true);
                    $('#status_on-call').prop("checked", false);
                    $('#status_hired').prop("checked", false);
                }
            },
            error: function(e) {
                $("#modal-feedback").html(e);
                $("#myModal").modal("show");
            }
        });
    });

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ2cAeiEseW9hyqSjuJnsgbKS5DLVPvOs&libraries=places&callback=initMap" async defer></script>
</body>

</html>